<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <h2>Alterar - Apresentação de Emendas</h2>                
            </div>

            
            <% emendas.forEach(emenda=> { %>
               
            <form method="post" action="/admin/emenda/save">
                <input type="hidden" name="id" value="<%= emenda.id %>">
                Id_tipo:<input class="form-control" type="number" name="id_tipo" value="<%= emenda.id_tipo %>">
                1. PROPOSIÇÕES SUJEITAS À APRECIAÇÃO CONCLUSIVA PELAS COMISSÕES<br>
                2. PROJETOS SUJEITOS À APRECIAÇÃO DO PLENÁRIO<br>
                3. PROPOSIÇÕES COM TRAMITAÇÃO ESPECIAL<br>
                Emenda:<input class="form-control" type="text" name="emenda" value="<%= emenda.emenda %>"><br>
                Descrição:<input class="form-control" type="text" name="descricao"
                value="<%= emenda.descricao %>"><br>
                              

                <button class="btn btn-success">Alterar</button>
            </form>
            <% }) %>    
        </div>
    </div>


</div>
        
<%- include('../../partials/footer.ejs') %>
