<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
    <div class="container">
        <div class="card-body">
    
            <% comissoes.forEach(comis=> { %>
                <h1>
                    <%= comis.sigla %>
                </h1>
                <p class="quorum">Membros:&nbsp;&nbsp;<%= comis.membros %></p>
                <p class="quorum">Quorum Abertura:&nbsp;&nbsp;<%= comis.quorum_aber %></p>
                <p class="quorum">Quorum Absoluto:&nbsp;&nbsp;<%= comis.quorum_abs %></p>
                <p class="quorum">Um Décimo:&nbsp;&nbsp;<%= comis.um_decimo %></p>
                <p class="quorum">Seis Centésimos:&nbsp;&nbsp;<%= comis.seis_centesimos %></p>
    
                <% }) %>
    
        </div>
    </div>

<%- include('../partials/footer.ejs') %>