<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
    <div class="container">
        <div class="card-body">
    
            <% comissoes.forEach(comis=> { %>
                <h1>
                    <%= comis.comissao %> <br> <%=  comis.sigla %>

                </h1>
                <p class="quorum">Membros:&nbsp;&nbsp;<%= comis.membros %></p>
                <% if(Number.isInteger(comis.membros/2)) { %> 
                    <p class="quorum">Quorum Abertura:&nbsp;&nbsp;<%= comis.membros/2 %></p>
                <%}else{ %>
                    <p class="quorum">Quorum Abertura:&nbsp;&nbsp;<%= Math.trunc(comis.membros/2)+1 %></p>
                <% } %>
                <p class="quorum">Quorum Absoluto:&nbsp;&nbsp;<%= Math.trunc(comis.membros/2)+1 %></p>
                <% if(Number.isInteger(comis.membros*0.1)) { %> 
                    <p class="quorum">Um Décimo:&nbsp;&nbsp;<%= comis.membros*0.1 %></p>
                <%}else{ %>
                    <p class="quorum">Um Décimo:&nbsp;&nbsp;<%= Math.trunc(comis.membros*0.1)+1 %></p>
                <% } %>                
                <p class="quorum">Seis Centésimos:&nbsp;&nbsp;<%= Math.trunc(comis.membros*0.06)+1 %></p>
    
            <% }) %>
    
        </div>
    </div>

<%- include('../partials/footer.ejs') %>