<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
    <div class="container">
        <div class="card-body">
            <form method="post" action="/list_quorum">
                <h1>Quorum</h1>
                <select name="id" class="form-control">
                    <% comissoes.forEach(comis=> { %>
                        <option value="<%= comis.id %>">
                            <%= comis.sigla %>
                        </option>
                        <% }) %>
                </select><br>
                <button class="btn btn-success">OK</button>
            </form>
        </div>
    </div>
<%- include('../partials/footer.ejs') %>

